<% unless @vehiculos_principal.blank? %>
<%  @vehiculos_principal.each do |vehiculo| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <!-- Botones de acciones para el usuario -->
          <% if current_page?( usuarios_publicaciones_path ) %>
              <div class="row acciones">
                <div class="col-xs-6"><%= link_to 'Editar', edit_vehiculo_path(vehiculo), class: 'btn btn-primary' %></div>
                <div class="col-xs-6"><%= link_to 'Eliminar', vehiculo, method: :delete, data: { confirm: 'Estas seguro de eliminarlo?' }, class: 'btn btn-danger' %></div>
              </div>
          <% end %>
          <div class="product">
              <div class="row">
                <div class="image">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                      <%= image_tag vehiculo.foto_ppal.url(:medium) %>
                  </div>
                </div>
                <div class="usuario">
                  <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                      <div class="tipo-publi principal-publi">
                        <h5>OFERTA</h5>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                      <a href="<%= vehiculo_path(vehiculo) %>"><%= vehiculo.titulo %></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 precio">
                      <p><span class="glyphicon glyphicon-usd"></span><span><%= vehiculo.precio %></span></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 caracteristicas">
                  <hr>
                    <p><span class="glyphicon glyphicon-map-marker"></span><%= vehiculo.dpto_mendoza.nombre %>, Mza</p>
                    <p><span class="glyphicon glyphicon-calendar"></span><%= vehiculo.condicion %> | <%= vehiculo.anio %></p>
                    <p><span class="glyphicon glyphicon-dashboard"></span><%= vehiculo.combustible %></p>
                </div>
              </div>
              <!-- Determinar si es principal -->
              <div class="icon-tipo text-center">
                <span class="glyphicon glyphicon-fire icon-principal"></span>
              </div>
          </div>
        </div>
<% end %>
<% end %>
<% unless @vehiculos.blank? %>
  <% @vehiculos.each do |vehiculo| %>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <!-- Botones de acciones para el usuario -->
            <% if current_page?( usuarios_publicaciones_path ) %>
                <div class="row acciones">
                  <div class="col-xs-6"><%= link_to 'Editar', edit_vehiculo_path(vehiculo), class: 'btn btn-primary' %></div>
                  <div class="col-xs-6"><%= link_to 'Eliminar', vehiculo, method: :delete, data: { confirm: 'Estas seguro de eliminarlo?' }, class: 'btn btn-danger' %></div>
                </div>
            <% end %>
            <div class="product">
              <div class="row">
                  <div class="image">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <%= image_tag vehiculo.foto_ppal.url(:medium) %>
                    </div>
                  </div>
                  <div class="usuario">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <div class="tipo-publi <%="destacado-publi" if vehiculo.destacado%>">
                          <% if vehiculo.destacado %>
                          <h5>DESTACADO</h5>
                          <% else %>
                          <h5></h5>
                          <% end %>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 titulo">
                        <a href="<%= vehiculo_path(vehiculo) %>"><%= vehiculo.titulo %></a>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 precio">
                        <p><span class="glyphicon glyphicon-usd"></span><span><%= vehiculo.precio %></span></p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 caracteristicas">
                    <hr>
                      <p><span class="glyphicon glyphicon-map-marker"></span><%= vehiculo.dpto_mendoza.nombre %>, Mza</p>
                      <p><span class="glyphicon glyphicon-calendar"></span><%= vehiculo.condicion %> | <%= vehiculo.anio %></p>
                      <p><span class="glyphicon glyphicon-dashboard"></span><%= vehiculo.combustible %></p>
                  </div>
              </div>
                <!-- Determinar si es principal -->
                <div class="icon-tipo text-center">
                  <% if vehiculo.destacado %>
                    <i class="fa fa-thumb-tack"></i>
                  <% end %>
                </div>
            </div>
          </div>
  <% end %>
<% end %>